In [87]:
"""
Created on Sun Feb 21 2021
@author: Sahand-j
"""

import pandas as pd
import pandas_datareader,datetime
import pandas_datareader.data as web
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import date 
import nltk
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request
from nltk.sentiment import SentimentIntensityAnalyzer
from sqlalchemy import create_engine
import yahoo_fin.stock_info as si

In [88]:
stocks = 'voo,vti,jpm,iipr,vt,vxus,tgt,dfs,schd,dgro,nobl,schb,spy,nsc,sdy,gm,unp,qqq,land,aapl,stor,tsla,amat,avgo'

In [89]:
def format_ticker_list(ticker_list):
    
    """
    Helper method to format string input
    :@return(list): returns list of stock tickers 
    """
    
    return ticker_list.upper().split(',')

In [90]:
def stock_headline_scraper_dict(ticker_list):
    
    """
    Webscrapes new stock headlines from finviz.com
    :@return(dict): returns dictionary of stok tickers and their assoicated news headlines for availabe dates
    """
    
    website_url = 'https://finviz.com/quote.ashx?t='
    news_tables_dict = {}
    
    for ticker in ticker_list:

        #URL for each stock
        url = website_url + ticker

        #requesting url for each ticker
        response = urlopen(Request(url=url, headers={'user-agent': 'sentiment-analysis-app'}))

        #html parser, using bs4. downloaded the html
        html = BeautifulSoup(response,'html')

        #the body that contains all the news article links
        news_table_html_body = html.find(id = 'news-table')

        #each stock is in dictionary with value corresponding to news table
        news_tables_dict.update({ ticker.upper() : news_table_html_body })
        
    return news_tables_dict

In [91]:
ticker_newsheadline_dict = stock_headline_scraper_dict(format_ticker_list(stocks))

In [92]:
def stock_sentiment_df(news_tables_dict):
    
    """
    Takes in dictionary of stock tickers and their associated headlines
    :@return(datafame): returns Dataframe of stock tickers, their assoicated news headlines, and sentiment score 
    """
    
    parsed_data = []
    #itterating over key and value pairs. itterating over a dict
    for ticker, news_tables_dict in news_tables_dict.items():
        for row in news_tables_dict.find_all('tr'):

            #title is in acnchor tag 'a', retrieving that from bs4 obj row
            title = row.a.text

            #time stamps have td tags
            timestamp = row.td.text

            #no date information
            if(len(timestamp.split(' ')) == 1):
                time = timestamp.split(' ')[0]

            #has date info, before time
            else:
                date = timestamp.split(' ')[0]
                time = timestamp.split(' ')[1]
            parsed_data.append([ticker,title,date,time])

        df = pd.DataFrame(parsed_data,columns=['ticker','title','date','time'])

        #compund score for each article title
        vader = SentimentIntensityAnalyzer()
        df['comp_score'] = df['title'].apply(lambda title : vader.polarity_scores(title)['compound'])

        for i in df.index:
            df.at[i, 'time'] = df['time'][i][0:7]

        #converting string time col to datetime obj   
        df['time'] = pd.to_datetime(df['time']).dt.strftime('%H:%M:%S')
        df['date'] = pd.to_datetime(df.date).dt.date

        #df = df.set_index('date')
        df['updated'] = pd.to_datetime('now')

        #filtering nuetral news out of df
        df = df[df.comp_score != 0]

        #columns of interest
        df = df[['date','ticker','comp_score','title','updated']]
        
    return df

In [93]:
all_sentiment_df = stock_sentiment_df(ticker_newsheadline_dict)
all_sentiment_df['date'] = pd.to_datetime(all_sentiment_df.date)
all_sentiment_df.set_index('date',inplace=True)
all_sentiment_df.head()

,ticker,comp_score,title,updated
date,,,,
2021-01-06,VOO,0.3818,Whats Behind ETF Issuer Growth Gap,2021-03-03 20:35:19.259758
2021-01-04,VOO,0.5106,Record ETF Assets Growth In 2020,2021-03-03 20:35:19.259758
2020-12-28,VOO,-0.3400,Emotional Contagion and Its Effects on the Sto...,2021-03-03 20:35:19.259758
2020-12-28,VOO,0.8020,Best Of 2020: Robinhood's Favorite ETFs,2021-03-03 20:35:19.259758
2020-12-22,VOO,0.4404,Tesla Shows Broader Indexes Better,2021-03-03 20:35:19.259758

In [94]:
def all_stocks_and_senti_df(ticker_newsheadline_dict):
    """
    
    @return(dataframe): df of portfolio stocks, and their available senti score for all days
    """
    
    all_sentiment_df = stock_sentiment_df(ticker_newsheadline_dict)

    mean_df = all_sentiment_df.groupby(['ticker','date']).mean()
    mean_df = mean_df.unstack()
    mean_df = mean_df.xs(key='comp_score',axis = 1).transpose()

    return mean_df

In [95]:
all_stocks_and_senti_df(ticker_newsheadline_dict).head()

ticker,AAPL,AMAT,AVGO,DFS,DGRO,GM,IIPR,JPM,LAND,NOBL,...,SDY,SPY,STOR,TGT,TSLA,UNP,VOO,VT,VTI,VXUS
date,,,,,,,,,,,,,,,,,,,,,
2015-02-24,NaN,NaN,NaN,NaN,0.3818,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-04-17,NaN,NaN,NaN,NaN,0.6369,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-08-18,NaN,NaN,NaN,NaN,0.2023,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015-11-25,NaN,NaN,NaN,NaN,0.3818,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-08,NaN,NaN,NaN,NaN,0.2023,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
def stock_prices_dict(ticker_list):
    
    """
    creates dict of stock tickers and their price dataframe
    :@return(dict): returns dictionary of stock tickers and their associated available historic price data 
    """
    
    dict_of_dfs = {}
    for i in ticker_list:
        
        temp_df = si.get_data(i)  
        temp_df['rolling_mean'] = temp_df['adjclose'].rolling(round(len(temp_df)*.15)).mean()
        temp_df['rolling_std'] = temp_df['adjclose'].rolling(round(len(temp_df)*.15)).std()
        temp_df['cumel_return'] = (1 + temp_df['adjclose'].pct_change(1)).cumprod()
        temp_df['updated'] = pd.to_datetime('now')
        dict_of_dfs.update({i.upper() : temp_df})
        
    return dict_of_dfs

In [97]:
def update_all_stocks_price(formatted_ticker_list):

    """   
    all stocks and their price history. need to update from 2/28/2021
    :@return(dict):
    """
    
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Stocks')
    
    stock_df_and_ticker_dict = stock_prices_dict(formatted_ticker_list)
    
    #dropping table and instering new info
    if engine.has_table('total_stock_prices') == True:
            engine.execute('DROP TABLE total_stock_prices CASCADE;')
    
    for i in formatted_ticker_list:
        stock_df_and_ticker_dict.get(i).to_sql('total_stock_prices', engine, if_exists='append')

    return 'all stocks price data is updated in Stocks database'

In [98]:
update_all_stocks_price(format_ticker_list(stocks))

'all stocks price data is updated in Stocks database'

In [99]:
#new day to reitterate information. adding new info
def update_my_portfolio_data_to_db(stock_list):

    """
    updates database with new stock headlines relating to current portfolio
    :@return(string): returns message of completion of query
    
    """

    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Stocks')

    df2 = stock_sentiment_df(stock_headline_scraper_dict(format_ticker_list(stock_list)))

    if engine.has_table('new_data_with_old') == True:
        
        engine.execute('DROP TABLE new_data_with_old CASCADE;')
        df2.to_sql('new_data_with_old', engine, if_exists='replace')
    else:
        
        df2.to_sql('new_data_with_old', engine, if_exists='replace')


    view_query = '''
    create view new_sentiment_data_view as
    select
    new_data_with_old.date,
    new_data_with_old.ticker,
    new_data_with_old.comp_score,
    new_data_with_old.title,
    new_data_with_old.updated

    from new_data_with_old
    left join main_stock_sentiment_data ON
    new_data_with_old.date = main_stock_sentiment_data.date AND
    new_data_with_old.ticker = main_stock_sentiment_data.ticker AND
    new_data_with_old.title = main_stock_sentiment_data.title
    WHERE main_stock_sentiment_data.date IS null;
    '''

    add_new_vals_to_senti_table_query = '''
    insert into main_stock_sentiment_data
    select *
    from new_sentiment_data_view;
    '''

    engine.execute(view_query);
    engine.execute(add_new_vals_to_senti_table_query);
    
    return 'Updated current stock headlines'

In [100]:
update_my_portfolio_data_to_db(stocks)

'Updated current stock headlines'

In [101]:
def count_num_sentiment_per_stock(stocks):
    """
    helper method to count query number of sentiment scores of each stock ticker
    @return(dataframe) df of stock ticker and the number of accumulated sentiment scores
    
    """
    concat_cases = ''

    sent_case_per_ticker = """ 
        SUM(CASE ticker WHEN '{ticker}' THEN 1 ELSE 0 END) AS {ticker_count_col}
        """
    for i in format_ticker_list(stocks):
        concat_cases += sent_case_per_ticker.format(ticker= i , ticker_count_col= i+',')
        if(i == format_ticker_list(stocks)[-1]):
            concat_cases += sent_case_per_ticker.format(ticker= i , ticker_count_col= i)


    final_query = 'SELECT' + concat_cases + 'FROM main_stock_sentiment_data;'
    
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Stocks')
    df = pd.read_sql_query(final_query,con=engine).T
    df.rename(columns = {'0': 'Sentiment_data_count'},inplace=True)
    df.columns = ['Sentiment_data_count']
    return df

In [102]:
def group_sentiments_df():
    
    """
    queries a group by statement from db to average sentiment scores per day per stock
    @return(dataframe) df of stock ticker and combined sentiment score per day
    """
    engine = create_engine('postgresql://postgres:postgres@localhost:5432/Stocks')


    grouping_senti = """
    select date, ticker, avg(comp_score)
    from main_stock_sentiment_data
    group by date,ticker
    order by ticker asc;"""

    grouped_senti_data_df = pd.read_sql_query(grouping_senti,con=engine)

    return grouped_senti_data_df

In [103]:
group_sentiments_df().head()

        date ticker       avg
0 2021-02-22   AAPL -0.098600
1 2021-03-02   AAPL  0.371891
2 2021-03-01   AAPL  0.287800
3 2021-02-28   AAPL  0.229500
4 2021-02-24   AAPL  0.192330

In [104]:
def return_stocks_most_senti_data_dict(stocks):
    """
    @return(dict) stock tickers keys and their df with grouped senti score and dates
    """
    stock_with_most_data = count_num_sentiment_per_stock(stocks).sort_values(by=['Sentiment_data_count'],ascending=False)[:5]
    print('Current stocks with most sentiment data: ' + str(list(stock_with_most_data.index))+'\n')
    
    dict_of_dfs = {}
    for i in list(stock_with_most_data.index):
        temp_df = group_sentiments_df()[group_sentiments_df()['ticker'] == i.upper()]
        dict_of_dfs.update({i.upper() : temp_df})
    
    return dict_of_dfs

return_stocks_most_senti_data_dict(stocks)

Current stocks with most sentiment data: ['tsla', 'aapl', 'tgt', 'iipr', 'gm']

{'TSLA':           date ticker       avg
 698 2021-02-22   TSLA  0.100012
 699 2021-03-03   TSLA  0.032455
 700 2021-02-26   TSLA -0.033593
 701 2021-02-25   TSLA -0.049062
 702 2021-02-21   TSLA -0.450633
 703 2021-02-28   TSLA -0.128000
 704 2021-03-01   TSLA  0.327727
 705 2021-02-24   TSLA  0.100584
 706 2021-02-23   TSLA  0.145665
 707 2021-03-02   TSLA -0.007356
 708 2021-02-27   TSLA  0.446600,
 'AAPL':          date ticker       avg
 0  2021-02-22   AAPL -0.098600
 1  2021-03-02   AAPL  0.371891
 2  2021-03-01   AAPL  0.287800
 3  2021-02-28   AAPL  0.229500
 4  2021-02-24   AAPL  0.192330
 5  2021-02-19   AAPL  0.321707
 6  2021-02-27   AAPL  0.216300
 7  2021-02-18   AAPL  0.005529
 8  2021-03-03   AAPL  0.311027
 9  2021-02-20   AAPL  0.156967
 10 2021-02-21   AAPL  0.133400
 11 2021-02-23   AAPL -0.016457
 12 2021-02-26   AAPL  0.231300
 13 2021-02-25   AAPL -0.024782,
 'TGT':           date ticker       avg
 664 2021-01-28    TGT  0.202300
 665 2021-02-28    TGT  0.202300
 666 2021-03-01    TGT  0.492767
 667 2021-02-04    TGT  0.447300
 668 2021-02-22    TGT  0.299900
 669 2021-02-09    TGT  0.225400
 670 2021-01-27    TGT  0.585400
 671 2021-01-22    TGT -0.056050
 672 2021-02-26    TGT  0.206900
 673 2021-02-25    TGT  0.378020
 674 2021-02-27    TGT  0.340000
 675 2021-02-21    TGT  0.718400
 676 2021-03-03    TGT  0.139280
 677 2021-02-17    TGT -0.102700
 678 2021-02-11    TGT  0.407400
 679 2021-02-24    TGT  0.095825
 680 2021-02-03    TGT  0.072200
 681 2021-01-30    TGT  0.281750
 682 2021-02-16    TGT  0.092200
 683 2021-01-26    TGT  0.318200
 684 2021-03-02    TGT  0.187806
 685 2021-02-08    TGT  0.460025
 686 2021-01-29    TGT  0.202300
 687 2021-01-25    TGT  0.303367
 688 2021-02-18    TGT -0.029300
 689 2021-01-31    TGT  0.669600
 690 2021-02-13    TGT  0.292050
 691 2021-02-10    TGT  0.034850
 692 2021-02-06    TGT -0.294200
 693 2021-02-23    TGT -0.077200
 694 2021-02-01    TGT  0.237750
 695 2021-02-12    TGT -0.361200
 696 2021-02-19    TGT  0.329000
 697 2021-02-02    TGT  0.198950,
 'IIPR':           date ticker      avg
 205 2020-11-17   IIPR  0.65970
 206 2020-09-05   IIPR -0.29420
 207 2020-12-02   IIPR  0.32135
 208 2020-11-22   IIPR  0.73510
 209 2021-01-05   IIPR  0.44040
 ..         ...    ...      ...
 263 2020-11-25   IIPR  0.42150
 264 2021-01-13   IIPR  0.70325
 265 2021-02-04   IIPR  0.64860
 266 2020-12-14   IIPR  0.45795
 267 2020-12-31   IIPR  0.44040

 [63 rows x 3 columns],
 'GM':           date ticker       avg
 184 2021-02-17     GM  0.372400
 185 2021-02-26     GM -0.250000
 186 2021-03-03     GM -0.192329
 187 2021-02-22     GM  0.212400
 188 2021-02-10     GM  0.023238
 189 2021-02-23     GM  0.205300
 190 2021-02-14     GM  0.493900
 191 2021-03-01     GM -0.076400
 192 2021-02-19     GM -0.025800
 193 2021-02-15     GM  0.235533
 194 2021-02-28     GM  0.440400
 195 2021-03-02     GM  0.049320
 196 2021-02-20     GM  0.187700
 197 2021-02-18     GM -0.264100
 198 2021-02-12     GM  0.264900
 199 2021-02-25     GM  0.185814
 200 2021-02-24     GM  0.142150
 201 2021-02-11     GM -0.381633
 202 2021-02-16     GM  0.251243
 203 2021-02-09     GM  0.534400
 204 2021-02-27     GM  0.295000}

In [105]:
#we want to join stock sentiments with price data